/* Container section */

.section{
    padding:30px;
}

.section .contact_right{
    padding-left: 60px !important;
}
.contact_item{
    font-size: 14px !important;
    color: #787878 !important;
}

.contact_item>span{
    font-weight: 500  !important;
    color: black !important;
}

.contact_right .contact_socail .socail>a .MuiSvgIcon-root{
    font-size: 16px !important;
    color: #000 !important;
    margin-right: 12px !important;
}


@media screen and (max-width:1279.5px){
    .section .contact_right{
        padding-left: 0px !important;
    }
}